* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}
.topo{
    height: 30px;
    background-color: #333;
    color: rgb(255, 255, 255);
}
.topoint{
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}
.topoleft{
    width: 50%;
    height: 30px;
    float: left;
 
}
.toporight{
    width: 50%;
    height: 28px;
    float: right;
    text-align: right;
    margin-top: 2px;
}
.topoleft ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.topoleft li{

    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    
}
.topoleft li a{
    text-decoration: none;
    color: white;
}
.topoleft li .ativo{
    color: #FFA937;
}
.topobusca{
    width: 110px;
    height: 20px;
    outline: 0;
}
.toporight a{
    float: right;
    color: aliceblue;
}
.toporight input{
    float: right;
}
.toporight img{
    margin-right: 5px;
}
.topo2{
    height: 95px;
    color: rgb(0, 0, 0);
    background-color: rgb(240, 240, 240);
}
.topo2int{
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;
}
.logo{
    width: 100px;
    height: 88px;
    float: left;
    margin-top: 7px;
    text-align: left;
}
.logo2{
    width: 230px;
    height: 88px;
    float: left;
    margin-top: 7px;
    text-align: left;
}
.topo2 .banner{
    width: 550px;
    height: 80px;
    float: right;
    margin-top: 7px;
    background-color: #FF5938;
}
.menu{
    height: 40px;
    background-color: #FFA937;
}
.menuint{
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}
.menuint ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menuint li{

    height: 40px;
    line-height: 40px;
    float: left;
    padding-left: 8px;
    padding-right: 8px;    
}
.menu li:hover .submenu{
    display: block;
}
.menuint li a{
    text-decoration: none;
    color: #0474B3;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
}
.submenu{
    width: 150px;
    background-color: #FFA937;
    position: absolute;
    display: none;
}
.submenuitem{
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.submenuitem:hover{
    background-color: #FFCA85;
}
.ultimasnoticias{
    height: 40px;
}
.ultimasnoticiasint{
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}
.ultnoticiasarea{
    height: 28px;
    background-color: rgb(240, 240, 240);
    border: 1px solid #CCC;
    margin-top: 10px;
}
.ultnoticiastitulo{
    background-color: #FF0000;
    color: #FFF;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.ultnoticiastexto{
    color: #000;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 5px;
}
.containerint{
    width: 100%;
    max-width: 1040px;
    margin: auto;
}
.contleft{
    width: 753px;
    float: left;    
}
.contright{
    width: 275px;
    min-height: 200px;
    float: right;
    margin-left: 12px;
}
.widget{
    border: 1px solid #CCC;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.widgettitulo{
    height: 30px;
    line-height: 30px;
    background-color: #DDD;
    border-bottom: 1px solid #CCC;
    padding-left: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.widgetconteudo{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.noticiaitem{
    font-size: 14px;
    margin: 0px 5px;
    padding: 5px 0px;
    text-align: left;
    border-bottom: 1px solid #CCC;
}
.noticiaitem a{
    text-decoration: none;
    color: #000;
}
.noticiaitem:hover{
    background-color: #78F2FF
}
.slideshow{
    height: 335px;
    /*background-color: #CCC;*/
    overflow: hidden;
}
.slideshowarea{
    height: 335px;
    /*background-color: #0474B3;*/
    /*transition:all 1s;*/
}
.slide{
    height: 335px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slideinfo{
    height: 70px;
    background-image: url('../images/slideshow_bg.png');
    background-size: auto 70px;
    margin-top: 265px;
}
.slideinfo_titulo{
    font-size: 20px;
    color: #FFF;
    padding-top: 15px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif
}
.slideinfo_subtitulo{
    font-size: 14px;
    color: #FFF;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif
}
.slideballs{
    position: absolute;
    width: 200px;
    height: 30px;
 
}
.balls{
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
    cursor:pointer;
    background-color: #CCC
}









